:root {
    --orange: hsl(25, 97%, 53%);

    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}



.overpass-400 {
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.overpass-700 {
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

body {
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--very-dark-blue);
}
.ratings-card {
    display: flex;
    flex-direction: column;
    background-color: hsl( from var(--dark-blue) h s l / 0.5);

    /* Mobile */
    /* inline-size: 20.5rem; */
    /* padding-inline: 1.6rem; */
    /* padding-block:  1rem 1rem; */

    /* Desktop */
    inline-size: 25.8rem;
    padding-inline: 2rem;
    padding-block:  2.4rem 3rem;

    border-radius: 20px;
}
.hide {
    display: none;
}
label {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 0.9rem;
    background-color:  hsl( from var(--dark-blue) h s l / 1);
    width: 40px;
    height: 40px;
    /* margin-inline-end: 1rem; */
    color: var(--light-grey);
}

label:has(input[type="radio"]:checked) {
    background-color: var(--white);
    color: var(--very-dark-blue);
    
}
label:is(:hover, :focus) {
    cursor:  pointer;
    color: var(--very-dark-blue);
    background-color: var(--orange);
}

input[type="radio"] {
    display: none;
}
.star-img {
    background-color: hsl(from var(--dark-blue) h s l / 1);
    width: 42px;
    height: 42px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
   
}

.radio-grp {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    /* text-align: center; */
    /* align-items: center; */
    justify-content: space-between;
}

.rating-head {
    font-size: 1.5rem;
    color: var(--white);
    padding-block: 1.5rem 0rem;
}

.rating-para {
    color: var(--light-grey);
    font-size: 0.88rem;
    max-width: 31ch;
    padding-block: 1rem 1.5rem;
}
.submit-btn {

    margin-block: 1.5rem 1rem;
    background-color: var(--orange);
    padding-inline: 7rem;
    padding-block: 0.7rem;
    border-radius: 40px;
    font-size: 1rem;
}
.submit-btn:is(:hover, :focus) {
    cursor: pointer;
    background-color: var(--white);
}
