:root {
    --orange: hsl(25, 97%, 53%);

    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}



.overpass-400 {
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.overpass-700 {
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

body {
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--very-dark-blue);
}





label {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  hsl( from var(--dark-blue) h s l / 1);
    color: var(--light-grey);

 

    border-radius: 50px;
    font-size: clamp(0.9rem, 0.8648rem + 0.1502vw, 1rem);
    width: clamp(2.5rem, 2.2799rem + 0.9390vw, 3.125rem);
    height: clamp(2.5rem, 2.2799rem + 0.9390vw, 3.125rem);

    
}

label:has(input[type="radio"]:checked) {
    background-color: var(--white);
    color: var(--very-dark-blue);
    
}
label:is(:hover, :focus) {
    cursor:  pointer;
    color: var(--very-dark-blue);
    background-color: var(--orange);
}

input[type="radio"] {
    display: none;
}
.star-img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(from var(--dark-blue) h s l / 1);


    width: clamp(2.625rem, 2.4489rem + 0.7512vw, 3.125rem);;
    height: clamp(2.625rem, 2.4489rem + 0.7512vw, 3.125rem);;
    border-radius: 50px;
 
    
   
}


.radio-grp {
    display: flex;
    
    justify-content: space-between;

    padding-block-start: clamp(0rem, -0.5282rem + 2.2535vw, 1.5rem);
   
}
.ratings-card {
    display: flex;
    flex-direction: column;
    background-color: hsl( from var(--dark-blue) h s l / 0.5);

 

    inline-size: clamp(20.5rem, 18.6338rem + 7.9624vw, 25.8rem);
    padding-inline: clamp(1.6rem, 1.4592rem + 0.6009vw, 2rem) clamp(1.6rem, 1.3183rem + 1.2019vw, 2.4rem);
    padding-block: clamp(1rem, 0.5775rem + 1.8028vw, 2.2rem) clamp(1rem, 0.6127rem + 1.6526vw, 2.1rem);
    border-radius: clamp(1.25rem, 1.0299rem + 0.9390vw, 1.875rem);
  
}
.rating-head {
    color: var(--white);



    font-size: clamp(1.5rem, 1.4120rem + 0.3756vw, 1.75rem);
    padding-block: clamp(1.5rem, 1.3592rem + 0.6009vw, 1.9rem) 0rem;

    
}

.rating-para {
    color: var(--light-grey);
  

    font-size: clamp(0.88rem, 0.8554rem + 0.1052vw, 0.95rem);
    padding-block: clamp(0.7rem, 1.1056rem + -0.4507vw, 1rem) clamp(0rem, 2.0282rem + -2.2535vw, 1.5rem);
    max-width: minmax(31ch, 38ch);
   
}

.submit-btn {
    
    background-color: var(--orange);
    
    margin-block: clamp(1.5rem, 1.3239rem + 0.7512vw, 2rem) clamp(0rem, 1.3521rem + -1.5023vw, 1rem); 
    padding-inline: clamp(6.8rem, 6.0958rem + 3.0047vw, 8.8rem);
    padding-block: clamp(0.6rem, 0.7352rem + -0.1502vw, 0.7rem);
    border-radius: 40px;
    font-size: 1rem;
    
}
.submit-btn:is(:hover, :focus) {
    cursor: pointer;
    background-color: var(--white);
}

.thank-you-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(from var(--dark-blue) h s l / 0.5);
    
    
    
    inline-size: clamp(20.5rem, 18.6338rem + 7.9624vw, 25.8rem);
    /* block-size: 22.5rem; */
    block-size: 26rem;
    padding-inline: clamp(1.6rem, 1.4592rem + 0.6009vw, 2rem) clamp(1.6rem, 1.3183rem + 1.2019vw, 2.4rem);
    padding-block: clamp(1rem, 0.5775rem + 1.8028vw, 2.2rem) clamp(1rem, 0.6127rem + 1.6526vw, 2.1rem);
    border-radius: clamp(1.25rem, 1.0299rem + 0.9390vw, 1.875rem);
}

.thank-you-head {
    color: var(--white);

    text-align: center;
    /* Mobile */
    /* font-size: 1.5rem; */
    /* margin-block-end: 0.65rem; */
    
    /* Desktop */
    font-size: 1.75rem;
    margin-block-end: 0.55rem;
    margin-inline-start: 0.5rem;
}

.thank-you-img {
    /* Mobile */
    /* margin-block: 1rem 1.4rem; */
    /* width: 144px; */
    /* height: 100px; */
    /* Desktop */
    margin-block: 1rem 1.95rem;
    width: 164px;
    height: 105px;
}
.thank-you-para {
    color: var(--light-grey);

    /* Mobile */
    /* font-size: 0.88rem; */
    /* text-align: center; */
    /* Desktop */
    font-size: 0.95rem;
    text-align: center;
}

.thank-you-score {
    color: var(--orange);
    background-color: hsl(from var(--dark-blue) h s l / 1);

    /* text-align: c; */
    /* Mobile */
    /* font-size: 0.88rem; */
    /* padding-inline: 0.8rem; */
    /* padding-block: 0.4rem 0.3rem; */
    /* border-radius: 50px; */
    /* margin-block-end: 1.7rem; */

    /* Desktop */
    /* background-color: red; */

    font-size: 0.93rem;
    padding-inline: 1.1rem 1.3rem;
    margin-inline-start: 0.5rem;
    padding-block: 0.4rem 0.3rem;
    border-radius: 60px;
    margin-block-end: 2.1rem;

}

.hide {
    display: none;
}