:root {
    --orange: hsl(25, 97%. 53%);

    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}



.overpass-400 {
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.overpass-700 {
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

body {
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide {
    display: none;
}

input[type="radio"] {
    display: none;
}